* {
    font-family: "Raleway", Times, serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    
  }
 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-elements{
    text-decoration: none;
}

.nav-elements a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
    
}
.background {
    height: 100vh;
    background: url(img/background.jpg);
    background-size: 100% 100vh;
  
}

.background h1{
    text-align: center;  
    padding-top: 300px;
    color: white;
    font-size: 80px;
    
}

.background p{
    text-align: center;  
    color: white;
    line-height: 60px;
    font-size: 36px;
}

.background button{
    margin-top: 30px;
    position: absolute;
    left: 40%;
    height: 40px;
    width: 300px;
    text-decoration: none;
    border: none;
    outline-style: none;
    font-weight: bolder;
    box-shadow: none;
}

.about{
    padding-left: 180px;
    padding-right: 180px;
    
}
.about h1 {
    line-height: 100px;
    text-align: center;
}
.about p {
    width: auto;
    text-align: justify;
    margin-left: 20px;
    margin-top: 60px;
}


.about-content{
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
}
.about-content img{
    height: 300px;
}


