@import url("https://fonts.googleapis.com/css?family=Marvel:400,700");

* {
  font-family: "Marvel", Times, serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
      background-color: rgb(221, 214, 221);

}
.logo{
    text-decoration: none;
    color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 180px;
  padding-right: 180px;
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.nav-elements {
  text-decoration: none;
}

.nav-elements a {
  text-decoration: none;
  margin-left: 50px;
  color: white;
}
.background {
  height: 100vh;
  background: url(img/background.jpg);
  background-size: 100% 100vh;
}

.background h1 {
  text-align: center;
  padding-top: 300px;
  color: white;
  font-size: 80px;
}

.background p {
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 36px;
}

.background button {
  margin-top: 30px;
  position: absolute;
  left: 43%;
  height: 40px;
  width: 200px;
  color: white;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  outline-style: none;
  font-weight: bolder;
  box-shadow: none;
  transition: 0.3s;
}

.background button:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #2e2e2e;
}

.about {
  padding-left: 180px;
  padding-right: 180px;
  display: inline-block;
}
.about h1 {
  line-height: 120px;
  text-align: center;
}
.about p {
  width: auto;
  text-align: justify;
}

.about-content img {
  height: 300px;
  float: left;
  margin-right: 50px;
  margin-bottom: 40px;
}

.services {
  text-align: center;
    padding-left: 70px;
    padding-right: 70px;
      margin: 0 auto;
}

.services h1 {
  line-height: 200px;
}

ul {
  color: black;
  display: inline-block;
}

ul li {
  margin: 10px;
  padding: 0;
  list-style-type: none;
  position: relative;
  width: 300px;
  height: 300px;
  float: right;
  overflow: hidden;
}

ul li .overlay {
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0, 0);
}

ul li .overlay {
  transition: 0.3s ease-in;
}

ul li:hover > .overlay,
ul li:hover > h3,
ul li:hover > p,
ul li:hover > button {
  transform: translate(0, 450px);
}

.backg {
  width: 300px;
  height: 300px;
  background: #222121;
  padding: 10px 10px 10px 10px;
  color: white;
}
hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}

.contact {
  margin: 50px;
  padding-left: 180px;
  padding-right: 180px;
}

.contact h1 {
    margin-bottom: 50px;
}
.form-group {
    margin: 12px;
}
input {
    background: #fff;
    color: #333;
    border: none;
    outline-style: none;
        width: 180px;

}
textarea {
    background: #fff;
    color: #333;
    border: none;
    outline-style: none;
}
button {
        color: #252537;
  
    width: 180px;
    height: 30px;
    background: #fff;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.05em;

}
.copy-right {
    background-color: #222121;
    height: 60px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 735px) {
  .navbar {
      padding-left: 30px;
      padding-right: 30px;

  }
  .background button { 
      left: 32%;
  }
  .about {
    padding-left: 47px;
  }
  
.contact {
    padding-left: 48px;
}
.about p {
    width: 445px;
}
}

@media only screen and (max-width: 1160px) { 
    .about p {
    width: 445px;
}

}